# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Popular languages that Data Scientists use
- Common libraries used by Data Scientists
- Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. SciPy

|Data Science Tools|
|------------------|
|Apache Hadoop|
|Apache Spark|
|Apache Flink|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
hours=200/60
print(hours)

3.3333333333333335

## Author
Twisha Rewaskar